/* dnd */
.App {
  font-family: sans-serif;
  background-color: rgb(240, 240, 240);
  padding: 30px;
}

.Section {
  display: grid;

  margin-top: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  /* background-color: green; */
}

.Section:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.Section.cols-1 {
  grid-template-columns: minmax(1px, auto);
}

.Section.cols-2 {
  grid-template-columns: repeat(3, 1fr);
}

.Section.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.Section.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.Section.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.Column {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  min-height: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.Column:first-child {
  /* padding-left: 0; */
  /* border-left: 2px solid rgba(0, 0, 0, 0.2); */
}

.Column:last-child {
  /* padding-right: 0; */
  border-right: none;
}

.Widget {
  display: block;
  padding: 0 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  /* margin-top: 10px; */
}

.WidgetHeader {
  display: flex;
  align-items: center;
  height: 50px;
  /* padding-left: 15px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.WidgetDragHandle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 147, 147, 0.5);
  border-radius: 5px;
  transition: background-color 300ms;
  cursor: grab;
}

.WidgetDragHandle:hover {
  background-color: rgba(255, 30, 30, 0.8);
}

.WidgetTitle {
  padding: 0 15px;
  font-weight: bold;
}

.DragOverlay {
  background-color: blue;
  opacity: 0.2;
  height: 100px;
}
